In [ ]:
import pandas
import configparser
import psycopg2

In [ ]:
config = configparser.ConfigParser()
config.read('config.ini')

db = config['myaws']['db']
host = config['myaws']['host']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [ ]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

# Question 1

In [ ]:
sql = "select * from student"

In [ ]:
df = pandas.read_sql_query(sql,conn)
df[:]

# Question 2

In [ ]:
cur = conn.cursor()

In [ ]:
sql = """  
insert into professor(p_email,p_name, office )
values   ('p2@jmu.edu','p2','o2') ;
"""

In [ ]:
sql = """  
insert into professor(p_email,p_name, office )
values   ('p3@jmu.edu','p3','o3' ) ;
"""

In [ ]:
sql = """
select professor.p_name,
course.c_name 
from professor
inner join course
on professor.p_email = course.p_email 

"""

In [ ]:
df = pandas.read_sql_query(sql,conn)
df[:]

# Question 3

In [ ]:
sql = """
select c_number, count(*) as num_student
from enroll
group by c_number
order by num_student desc
"""

In [ ]:
sql = """  
insert into course(c_number,c_name,room,p_email)
values  ('c2', 'mongodb', 'r2', 'p2@jmu.edu')
"""

In [ ]:
sql = """  
insert into course(c_number,c_name,room,p_email)
values  ('c4', 'facebook', 'r1', 'p3@jmu.edu')
"""

In [ ]:
sql = """  
insert into course(c_number,c_name,room,p_email)
values  ('c1', 'postgresql', 'r1', 'p3@jmu.edu')
"""

In [ ]:
sql = """  
insert into course(c_number,c_name,room,p_email)
values  ('c3', 'twitter', 'r1', 'p3@jmu.edu')
"""

In [ ]:
sql = """  
insert into course(c_number,c_name,room,p_email)
values  ('c5', 'lindedin', 'r2', 'p4@jmu.edu')
"""

In [ ]:
cur.execute(sql)

In [ ]:
conn.commit()

In [ ]:
df = pandas.read_sql_query(sql,conn)
df.plot.bar(x='c_number',y='num_student')

# Question 4

In [ ]:
sql ="""
SELECT professor.p_name, COUNT(course.c_number) AS num_courses_taught
FROM professor
INNER JOIN course ON professor.p_email = course.p_email
GROUP BY professor.p_name
ORDER BY num_courses_taught DESC
"""

In [ ]:
df = pandas.read_sql_query(sql,conn)
df.plot.bar(x='p_name',y='num_courses_taught')

# Question 5

In [ ]:
cur = conn.cursor()

In [ ]:
sql = """  
insert into professor(p_email,p_name, office )
values   ('p4@jmu.edu','p4','o4' ) ;
"""

In [ ]:
cur.execute(sql)

In [ ]:
conn.commit()

In [ ]:
df= pandas.read_sql_query('select * from professor',conn)
df[:]

In [ ]:
df= pandas.read_sql_query('select * from course',conn)
df[:]